$primaryColor: #9f0909;
$secondaryColor: #132097;
$teamsColor: #ddf;
$canvasColor: #dfd;
$taskColor: #ffd;
$reportColor: #fdd;
$fontColor: #333333;

$defaultFont: "Quicksand", sans-serif;
$lightWeight:300;
$normalWeight:500;
$boldWeight:700;

$gutter: 16px;
